<div class="row">
  <div class="col-sm-4" *ngFor="let producto of listaProducto">
    <br>
    <div class="card" >
      <div class="card-footer">
        <small class="text-muted">Descuento: {{producto.descuento}}</small>
      </div>
      <img class="card-img-top" src="{{producto.imagen}}" alt="Card image cap" height="600" width="50">
      <div class="card-body">
        <h5 class="card-title">{{producto.nombre}}</h5>
        <p class="card-text">Precio: {{producto.precio}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
      
    </div>
    <br>
  </div>
</div>